<div id="table">
  <div style="height:50px;"></div>
    <table class="table mb-5">
      <thead>
        <tr>
          <th scope="col">SKU/CLI/BTO</th>
          <th scope="col">TRACKING NUMBER</th>
          <th scope="col">LOCATION</th>
          <th scope="col">TIME SCANNED</th>
          <th scope="col">TIME UPLOADED</th>
          <th scope="col">SCAN ID</th>
          <th id="resend-failed" hx-get="{% url 'scans:hx_button_poll' %}" hx-trigger="every 2s" hx-target="this" hx-swap="outerHTML" scope="col">
            <button

            style="width: 200px"
            hx-target="#table"
            hx-get="{% url 'scans:resend_scans_hx' %}"
            type="button" class="btn btn-sm btn-primary"
            {% if scan_button_on == False %}
            disabled{% else %}{% endif %} >
            SEND SCANS</button>
          </th>
        </tr>
      </thead>
      <tbody style="font-size: 10px;">
        {% for scan in scans  %}
		{% if scan.sku  == 'SCAN FAILED' %}
		 <tr>
          <td scope="col">SCAN FAILED</td>
          <td scope="col">SCAN FAILED</td>
          <td scope="col">SCAN FAILED</td>
          <td scope="col">SCAN FAILED</td>
          <td scope="col">SCAN FAILED</td>
		  <td scope="col">SCAN FAILED</td>
		  <td scope="col">
		  </td>           
        </tr>
		{% else %}	
        <tr>
          <td scope="col">{{scan.sku}}</td>
          <td scope="col">{{scan.tracking}}</td>
          <td scope="col">{{scan.location}}</td>
          <td scope="col">{{scan.time_scan}}</td>
		  <td scope="col">{% if scan.time_upload == None %}ready for upload {% else %}{{scan.time_upload}}{%endif%} </td>
		  <td scope="col">{{scan.scan_id}}</td>
		  <td scope="col">{% if scan.time_upload == None %}ready for upload{% else %}uploaded {%endif%} </td>
        </tr>
		{% endif %}
        {% endfor %}
      </tbody>
    </table>
</div>


<script>
  document.getElementById('sku').value = '';
  document.getElementById('sku').select();
</script>
