{% extends 'base.html' %}

{% block content %}
<div class='scan-heading'>
  <div class="text-center">
    <h5 style="font-size: 75px;">BDDW SCAN</h5>
    <h3 style="font-size: 50px;">LOCATION NAME</h3>

    <p class="pt-1" hx-get="{% url 'scans:internet_poll' %}" hx-trigger="every 2s" hx-target="this" hx-swap="outerHTML" style="font-size:20px">ESTABLISHING CONNECTION</p>
    <div class="header-padding" style="height:15px">
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
        <p style="color: black; size: 100px;">SCAN QR &#129147; SCAN QR</p>
        <input type='text' hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="#table" hx-swap="outerHTML"  hx-trigger="keyup changed delay:500ms" hx-post="{% url 'scans:scan_hx' %}" id='sku' name='sku'>
    </div>
    <div class="row">
      <div class="col">
      </div>
    </div>
  </div>
</div>

<div id="table">
  <div style="height:50px;"></div>
    <table class="table mb-5">
      <thead>
        <tr>
          <th scope="col">SKU/CLI/BTO</th>
          <th scope="col">TRACKING NUMBER</th>
          <th scope="col">LOCATION</th>
          <th scope="col">TIME SCANNED</th>
          <th scope="col">TIME UPLOADED</th>
          <th scope="col">SCAN ID</th>
          <th id="resend-failed" hx-get="{% url 'scans:hx_button_poll' %}" hx-trigger="every 5s" hx-target="this" hx-swap="outerHTML" scope="col">
            <button
            style="width: 200px"
            hx-target="#table"
            hx-get="{% url 'scans:resend_scans_hx' %}"
            type="button" class="btn btn-sm btn-primary"
            {% if scan_button_on == False %}
            disabled
            {% endif %} >
            SEND SCANS</button>
          </th>
        </tr>
      </thead>
      <tbody style="font-size: 10px;">
        {% for scan in scans  %}
        <tr>
          <td scope="col">{{scan.sku}}</td>
          <td scope="col">{{scan.tracking}}</td>
          <td scope="col">{{scan.location}}</td>
          <td scope="col">{{scan.time_scan}}</td>
          <td scope="col">{% if scan.time_upload == None %}<span style="color: red">NOT UPLOADED</span>{% else %}{{scan.time_upload}}{% endif %}</td>
          <td scope="col">{% if scan.scan_id == None %}<span style="color: red">NOT UPLOADED</span>{% else %}{{scan.scan_id}}{% endif %}</td>
          <td scope="col">{% if scan.scan_id == None %}<span style="color: red">NOT UPLOADED</span>{% else %}<span style="color: green">UPLOADED</span>{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<div style="background-color:light-grey;" class="text-center container">
  <p style="font-size: 10px;">BDDW SCANS VERSION: {{APP_VERSION}}</p>
</div>


{% endblock content %}

{% block inline_javascript %}
  <script>
  function orientInput(){
    const sku_input = document.getElementById('sku');
    sku_input.select()
  }
  setInterval(orientInput, 10000);
  </script>
{% endblock inline_javascript %}
