{% extends 'base.html' %}

{% block content %}
<div class='scan-heading'>
  <div class="text-center">
    <h1 style="font-size: 200px;">BDDW SCAN</h1>
    <p class="pt-1" hx-get="{% url 'scans:internet_poll' %}" hx-trigger="every 5s" hx-target="this" hx-swap="outerHTML" style="font-size:20px">{% if internet_status == 1 %}<span style="color: green">YOU HAVE INTERNET</p>{% else %}<span style="color: red">NO INTERNET</span>{% endif %}</p>
    <div class="header-padding" style="height:15px">
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
        <p style="color: black; size: 100px;">SCAN QR &#129147; TYPE SKU</p>
        <input type='text' hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="#table" hx-swap="outerHTML"  hx-trigger="keyup changed delay:500ms" hx-post="{% url 'scans:scan_hx' %}" id='sku' name='sku'>
    </div>
    <div class="row">
      <div class="col">
      </div>
    </div>
  </div>
</div>

<div id="table">
  <div style="height:50px;"></div>
    <table class="table mb-5">
      <thead>
        <tr>
          <th scope="col">SKU</th>
          <th scope="col">LOCATION</th>
          <th scope="col">TIME SCANNED</th>
          <th scope="col">TIME UPLOADED</th>
          <th scope="col">SCAN ID</th>
          <th scope="col"><button style="width: 200px" hx-target="#table" hx-get="{% url 'scans:resend_scans_hx' %}" type="button" class="btn btn-sm btn-primary" {% if internet_status == 1 and has_failed_scans == True %} {% else %}disabled {% endif %} >RESEND FAILED SCANS</button>
          </th>
        </tr>
      </thead>
      <tbody style="font-size: 10px;">
        {% for scan in scans  %}
        <tr>
          <td scope="col">{{scan.sku}}</td>
          <td scope="col">{{scan.location}}</td>
          <td scope="col">{{scan.time_scan}}</td>
          <td scope="col">{% if scan.time_upload == None %}<span style="color: red">UPLOAD FAILED</span>{% else %}{{scan.time_upload}}{% endif %}</td>
          <td scope="col">{% if scan.scan_id == None %}<span style="color: red">UPLOAD FAILED</span>{% else %}{{scan.scan_id}}{% endif %}</td>
          <td scope="col"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>


{% endblock content %}

{% block inline_javascript %}
  <script>
  document.getElementById('sku').select();
  </script>
{% endblock inline_javascript %}
